{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/styless.css'%}" rel="stylesheet" />
    <title>Document</title>
</head>
<body >
    <div class="container bodyy">
        <div class="main_container">
            <div class="nav-md">
                <div class="shadoww">
                    <div class="navbar nav_title">
                        <img src="{% static 'images/profile.jpg'%}" alt="...">
                    </div>
                    
                    <div class="clearfix">
                    </div>
                    <div class="sidebarmenu">
                        <div >
                           <div class="side-menu sidbarmenu-contain"><a href="#"  style="text-decoration: none;color:white;">پروفایل</a></div>
                           <div class="side-menu sidbarmenu-contain"><a href="#" style="text-decoration: none;color:white;">ساخت رزومه</a></div>
                           <div class="side-menu sidbarmenu-contain sidebar-bottom"><a href="#" style="text-decoration: none;color:white;">خروج</a></div>
                        </div>
                        

                    </div>                 
                </div>
        </div>
        <div class="boxx" role="main" style="min-height: 607px;">
            <h1>خوش آمدید</h1>
                

        </div>
        
        
            <!-- <div class="box2">
                <div class="profile">
                    
                    <img src="{% static 'images/profile.jpg'%}" alt="...">
                </div>
                <div class="navbar">
                    <div class="navbar1">
                        <h2>salam</h2>

                    </div>
                    
    
                </div>
                


            </div>
            
            <div class="box3">
                

            </div> -->
        
        <!-- <div class="footer">
            <h1>footer</h1>
        </div> -->
    </div>
    
    
</body>
</html>