{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/styless.css'%}" rel="stylesheet" />
    <link href="{% static 'js/script2.js'%}" rel="stylesheet" />
    <title>Login</title>
</head>
<body dir="rtl">
    <div class="container">
        <div class="box1" >
            <h1>خوش آمدید</h1>
        </div>
        
        <form action="" method="post" class="form">
        {% csrf_token %}
            
            
            <input type="text" id=username name="username" placeholder="نام کاربری" class="form-control"><br>
            
            <input type="password" id=password name="password" placeholder="رمز عبور" class="form-control">
            <label class="checkboxx">مرا به خاطر بسپار
                <input type="checkbox" value="lsRememberMe" id="rememberMe">
                <span class="checkmark"></span>
            </label>
            <input type="submit" value="ورود" class="profilebtn"  onclick="lsRememberMe()">
            <p style="color: red; text-align: right; margin: 10px;">{{username}}:{{errormassage}}</p>
           
        </form>
        <div class="box1">
            <p style="color: rgb(36, 4, 110); font-size: 12px;">حساب کاربری دارید؟<a href="/accounts/profileregister">     ثبت نام</a></p>
            
        </div>
        
        

    </div>
</body>
</html>