{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/styless.css'%}" rel="stylesheet" />
    <title>Document</title>
</head>
<body dir="rtl">
    <div class="container">
        {% if validlink %}
            <div class="box1" >
                <h1> تغییر رمزعبور</h1>
            </div>

           
            
            <form action="" method="post" class="form">

                {% csrf_token %}

                {% if form.errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <div id="form_errors">
                        {% for key, value in form.errors.items %}
                            <strong>{{ value }}</strong>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                

                <label class="small mb-1" for="id_new_password1">رمز عبور جدید:</label>
                                    <input type="password" name="new_password1" autocomplete="new-password"
                                        class="form-control" required id="id_new_password1"
                                       />
                                    <span>
                                    </span>

               

                <label class="small mb-1" for="id_new_password2">تکرار رمز عبور:</label>
                <input type="password" name="new_password2" autocomplete="new-password"
                     required id="id_new_password2" class="form-control"
                    />
                <button type="submit" class="profilebtn" id="reset">تغییر رمز</button>

            </form>
            
            

        </div>
        {% else %}
            <div class="box1" >
                <h1> تغییر رمزعبور</h1>
            </div>
            <div class="form">
                <div class="alert alert-warning">
                    لینک صفحه اشتباه است و یا قبلا مورد استفاده قرار گرفته است.
                    برای تغییر رمز مجددا از صفحه تغییر رمز تلاش کنید.
                </div>

            </div>
        
        {% endif %}
    
    
</body>
</html>

       
    
