{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/styless.css'%}" rel="stylesheet" />
    <title>Document</title>
</head>
<body dir="rtl">
    <div class="container">
        <div class="box1" >
            <h1> تغییر رمزعبور</h1>
        </div>
        
            <div class="form">
                <div style="color:#055160;background-color:#cff4fc;border-color:#b6effb" class="alert alert-info">
                    
                    <p>ایمیلی شامل لینک صفحه تغییر رمز برای شما ارسال شد.</p>
                </div>
            </div>
            
         
        
        

    </div>
    <div>
        
    </div>
    
</body>
</html>

