{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/styless.css'%}" rel="stylesheet" />
    <title>Document</title>
</head>
<body dir="rtl">
    <div class="container">
        <div class="box1" >
            <h1> تغییر رمزعبور</h1>
        </div>
        
        <form action="" method="post" class="form">

            {% csrf_token %}
            <div style="color:#055160;background-color:#cff4fc;border-color:#b6effb" class="alert ">
            ایمیل خود را برای باز نشانی رمز عبور وارد کنید!
            </div>
            
            ایمیل:<input type="email" name="email"  class="formm" autocomplete="email" 
            maxlength="254" required id="id_email" >
            <!-- {{ form.as_p }} -->
            <input type="submit"  value="تغییر رمز" class="profilebtn">
           
        </form>
        
        

    </div>
    <div>
        
    </div>
    
</body>
</html>

