{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/styless.css'%}">
    <title>Document</title>
</head>
<body>
    <body dir="rtl">
        <div class="container bodyy">
            <div class="main_container">
                <div class="nav-md">
                    <div class="shadoww">
                        <div class="navbar nav_title">
                            <img src="{% static 'images/profile.jpg'%}" alt="...">
                        </div>
                        
                        <div class="clearfix">
                        </div>
                        <div class="sidebarmenu">
                            <div >
                               <div class="side-menu sidbarmenu-contain"><a href="#"  style="text-decoration: none;color:white;">پروفایل</a></div>
                               <div class="side-menu sidbarmenu-contain"><a href="/accounts/resumeprofile" style="text-decoration: none;color:white;">ساخت رزومه</a></div>
                               <div class="side-menu sidbarmenu-contain sidebar-bottom"><a href="/accounts/logout" style="text-decoration: none;color:white;">خروج</a></div>
                            </div>
                            
    
                        </div>                 
                    </div>
            </div>
            <div class="boxxrtl"  style="min-height: 607px;">
                <div class="imgbox">
                    <img src="{{ profile.ProfileImage.url  }}" style="width: 100%;align-items: right;">
                </div>
                <div style="width: 100%;margin-left: 0%; margin-right: 0%; height: 335px;" >
                    <div class="profilecontentbox">
                        <div style="width: 40%;float: right; margin-left: 10%; margin-right: 0%;" >
                            <p class="profil">نام و نام خانوادگی:&nbsp;{{ profile.user.get_full_name|default:"" }}</p>
                            <!-- <p>نام خانوادگی:{{profile.user.get_last_name}}</p> -->
                            <p class="profil">وضعیت تاهل:&nbsp;{{ profile.get_marital_status_display }}</p>
                            <p class="profil"> شهر:&nbsp;{{ profile.city|default:""}}</p>
                            <p class="profil">آدرس:&nbsp;{{ profile.address|default:"" }}</p>
                        </div>
                        <div style="width: 40%;float: right; margin-left: 10%; margin-right: 0%;" >
                            <p class="profil">تاریخ تولد:&nbsp;{{ profile.birthday|date:'Y/m/d' |default:""}}</p>
                            <!-- <p class="profil">حقوق درخواستی:{{ profile.Expected_Salary }}</p> -->
                            <p class="profil">شغل مورد علاقه:&nbsp;{{ profile.intrested_job |default:""}}</p>
                            <p class="profil">جنسیت:&nbsp;{{ profile.get_gender_display|default:"" }}</p>
                        </div>
                    </div>
                </div>
                
                <div class="clearfix">
                </div>
                
                <div style=" display:block; align-items: center;margin-top: 40px;">
                    <a href="/accounts/profileEdit">
                        <input type="button" value="ویرایش پروفایل" class="btn editsubmit" />
                     </a>
               
                </div>
                
                    
    
            </div>
            
            
               
        </div>
        
        
</body>
</html>
    
