{%load static%}
{% load widget_tweaks %}
{% load jalali_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/styless.css'%}">
    
    <title>Document</title>
</head>
<body>
    
    <body dir="rtl">
        <div class="container bodyy">
            <div class="main_container">
                <div class="nav-md">
                    <div class="shadoww">
                        <div class="navbar nav_title">
                            <img src="{% static 'images/profile.jpg'%}" alt="...">
                        </div>
                        
                        <div class="clearfix">
                        </div>
                        <div class="sidebarmenu">
                            <div >
                               <div class="side-menu sidbarmenu-contain"><a href="/accounts/profile"  style="text-decoration: none;color:white;">پروفایل</a></div>
                               <div class="side-menu sidbarmenu-contain"><a href="/accounts/resumeprofile" style="text-decoration: none;color:white;">ساخت رزومه</a></div>
                               <div class="side-menu sidbarmenu-contain sidebar-bottom"><a href="/accounts/logout" style="text-decoration: none;color:white;">خروج</a></div>
                            </div>
                            
    
                        </div>                 
                    </div>
            </div>
            <div class="boxxrtl"  style="min-height: 607px;">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                
                    <div class="imgbox">
                        <img src="{{ ProfileImage.url  }}" style="width: 100%;align-items: right;">
                    </div>
                    {{ profileeditform.ProfileImage|add_class:"profilchoose" }}
                    <div style="width: 100%;margin-left: 0%; margin-right: 0%; height: 335px;" >
                        <div class="profilecontentbox">
                            <div style="width: 40%;float: right; margin-left: 10%; margin-right: 0%;" >
                            
                                
                                <p class="profil">نام و نام خانوادگی:{{usereditform.first_name|add_class:"formedit"}} {{usereditform.last_name|add_class:"formedit"}}</p>                            
                                <p class="profil">وضعیت تاهل:{{ profileeditform.marital_status|add_class:"formedit" }}</p>
                                <p class="profil"> شهر:{{ profileeditform.city |add_class:"formedit"}}</p>
                            </div>
                            <div style="width: 40%;float: right; margin-left: 10%; margin-right: 0%;" >
                                <p class="profil">آدرس:{{ profileeditform.address |add_class:"formedit"}}</p>
                                <p class="profil">تاریخ تولد:{{ profileeditform.birthday|add_class:"formeditdate" }}</p>
                                <p class="profil">شغل مورد علاقه:{{ profileeditform.intrested_job |add_class:"formedit"}}</p>
                                <p class="profil">جنسیت:{{ profileeditform.gender |add_class:"formedit"}}</p>
                            </div>
                        </div>
                    </div>

                    <div style=" display:block; align-items: center;margin-top: 10px;" >
                        <button type="submit"  class="btn editsubmit">ذخیره</button>
                    </div>  

                    
                </form>
                      
    
            </div>
            
            
               
        </div>
        
        
</body>
    <!-- <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
    <script src="{% static 'admin/js/django_jalali.min.js' %}"></script> -->
</html>
    
