{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/styless.css'%}" rel="stylesheet" />
    <title>Login</title>
</head>
<body dir="rtl">
    
    <div class="container">
        <div class="box1" >
            <h1>خوش آمدید</h1>
        </div>
        
        <form action="" method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
            <!-- {{ form.non_field_errors }} -->
            <!-- {{ form.errors }} -->
            
            <!-- {{ form.first_name.errors }} -->
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                 {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
             <p style="font-size: medium;">
             نام :{{ formData.first_name|add_class:"formm" }}</p>
             <p style="font-size: medium;">
             نام خانوادگی :{{ formData.last_name|add_class:"formm"  }}</p>

             <p style="font-size: medium;">
                نام کاربری : {{ formData.username|add_class:"formm"  }}</p>


            <p style="font-size: medium;">
                رمزعبور :{{ formData.password|add_class:"formm"  }}</p>
            <p style="font-size: medium;">
                تکراررمزعبور :{{ formData.confirm_password|add_class:"formm"  }}</p>
            <!-- <p style="color: red; text-align: right; margin: 10px;">{{err}}</p> -->


                

            <p style="font-size: medium;">
                ایمیل :{{ formData.email|add_class:"formm"  }}</p>

            <p style="font-size: medium;">
               جنسیت :{{ formData.gender |add_class:"formm" }}</p>
            
            
    
            
            <label style="font-size:medium;">تصویر پروفایل :</label>
            {{ formData.profileimage }}
    
            <input type="submit"  value="ثبت نام" class="profilebtn">
        </form>
        
        
        

    </div>
</body>
</html>