{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/styless.css'%}" rel="stylesheet" />
    <!-- <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" /> -->
    <title>Login</title>
</head>
<body dir="rtl">
    
    <div class="container">
        <div class="box1" >
            <h1>خوش آمدید</h1>
        </div>
        
        <form action="" method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
            <!-- {{ formData.non_field_errors }} -->
            <!-- {{ form.errors }} -->
            
            <!-- {{ form.first_name.errors }} -->
            {{ formData.non_field_errors }}
            
            {% if formData.errors %}
                {% for field in formData %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                 {% endfor %}
                {% for error in formData.non_field_errors %}
                    <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            
            <!-- {{formData.as_p}} -->
             <p style="font-size: medium;">
            {{formData.first_name.label_tag}}{{ formData.first_name|add_class:"formm" }}
             
             
            </p>
             <p style="font-size: medium;">
            {{formData.last_name.label_tag}}{{ formData.last_name|add_class:"formm"  }}</p>

             <p style="font-size: medium; display: inline;">
                {{formData.username.label_tag}}&nbsp;<p style="display: inline; color: red;">( {{ formData.username.help_text }}) </p> {{ formData.username|add_class:"formm"  }}</p>
               


            <p style="font-size: medium; display: inline;">
                {{formData.password.label_tag}}&nbsp;<p style="display: inline; color: red;">( {{ formData.password.help_text }}){{ formData.password|add_class:"formm"  }}</p>
            <p style="font-size: medium;">
                {{formData.confirm_password.label_tag}}{{ formData.confirm_password|add_class:"formm"  }}</p>
                <!-- {{formData.confirm_password.errors}} -->
            
                

            <p style="font-size: medium;">
            {{formData.email.label_tag}}{{ formData.email|add_class:"formm"  }}</p>

            <p style="font-size: medium;">
            {{formData.gender.label_tag}}{{ formData.gender |add_class:"formm" }}</p>
            
            
    
            
            <label style="font-size:medium;">{{formData.ProfileImage.label_tag}}</label>
            {{ formData.ProfileImage }}
    
            <input type="submit"  value="ثبت نام" class="profilebtn">
        </form>
        
        
        

    </div>
</body>
</html>