{%load static%}
{% load widget_tweaks %}
{% load jalali_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/styless.css'%}">
    <link rel="stylesheet" href="{%static 'css/elements.css'%}">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>            
    
    <title>Document</title>
</head>
<body>
    <style>
        .ing-form{
            border: 1px solid;
        }
        .hidden{
            display: none;
        }
    </style>
    
    <body dir="rtl">
        <div class="container bodyy">
            <div class="main_container">
                <div class="nav-md">
                    <div class="shadoww">
                        <div class="navbar nav_title">
                            <div class="navbar circular--portrait" >
                                <img src="{{ ProfileImage.url  }}" alt="...">
                            </div>
                        </div>
                        
                        <div class="clearfix">
                        </div>
                        <div class="sidebarmenu">
                            <div >
                               <div class="side-menu sidbarmenu-contain"><a href="/accounts/profile"  style="text-decoration: none;color:white;">پروفایل</a></div>
                               <div class="side-menu sidbarmenu-contain"><a href="/accounts/resumeprofile" style="text-decoration: none;color:white;">ساخت رزومه</a></div>
                               <div class="side-menu sidbarmenu-contain"><a href="/accounts/password" style="text-decoration: none;color:white;">تغییر رمز</a></div>
                               <div class="side-menu sidbarmenu-contain sidebar-bottom"><a href="/accounts/logout" style="text-decoration: none;color:white;">خروج</a></div>
                            </div>
                            
    
                        </div>                 
                    </div>
            </div>
            <div class="boxxrtl"  style="min-height: 607px;">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="imgbox">
                        <img src="{{ ProfileImage.url  }}" style="width: 100%;align-items: right;">
                        
                    </div>
                    <div style="width: 40%;float: right;height: 420px ; margin-left: 5%; margin-right: 5%;" >
                    
                        {{ resumeeditform.ProfileImage|add_class:"profilchoose" }}
                        <p class="resumesectiontitle">اطلاعات شخصی</p> 
                        <div class="formresume">
                            <p class="profil">نام و نام خانوادگی:{{usereditform.first_name|add_class:"formedit"}} {{usereditform.last_name|add_class:"formedit"}}</p>
                            <p class="profil">تاریخ تولد:{{ resumeeditform.birthday|add_class:"formeditdate" }}</p>
                            <p class="profil">جنسیت:</span> {{ resumeeditform.gender |add_class:"formedit"}}</p>
                            <p class="profil">وضعیت تاهل:{{ resumeeditform.marital_status|add_class:"formedit" }}</p>
                            <p class="profil"> شهر:{{ resumeeditform.city |add_class:"formedit"}}</p>
                            <p class="profil">آدرس:{{ resumeeditform.address |add_class:"formedit"}}</p>
                            <p class="profil">شغل مورد علاقه:{{ resumeeditform.intrested_job |add_class:"formedit"}}</p>
                        </div>
                        <button type="submit" class="btn editsubmit" name="profileedit">ذخیره</button>
                </form>

                        <p class="resumesectiontitle">سوابق تحصیلی</p> 
                        <div class="formresume">
                            <div id="abc1">
                                <div id="popupContact">
                                    <form action="#" id="form1" method="post" class="form1">
                                        {% csrf_token %}
                                        <img id="close" src="{% static 'images/close1.png'%}" onclick ="div_hide1()">
                                        {{ aducationformSet.management_form }}
                        
                                            {% for form in aducationformSet %}
                                            
                                                <div class="bird-form1 formsetborder">
                                                    <label class="formsetlable">{{form.degree_level.label}}:</label>
                                                    {{form.degree_level}}
                                                    <label class="formsetlable">{{form.major.label}}:</label>
                                                    {{form.major}}

                                                    <label class="formsetlable">{{form.university.label}}:</label>
                                                    {{form.university}}
                                                    
                                                    <label class="formsetlable">{{form.gpa.label}}:</label>
                                                    {{form.gpa}}

                                                    <label class="formsetlable">{{form.from_year.label}}:</label>
                                                    {{form.from_year}}

                                                    <label class="formsetlable">{{form.to_year.label}}:</label>
                                                    {{form.to_year}}
                                                    

                                                    {{form.id}}
                                                    {{form.aducations}}
                                                </div>
                                                
                                            {% endfor %}
                                            
                                            <button class="popupbtnright" id="add-form1" type="button" >افزودن مهارت</button>
                                            <button class="popupbtnleft" type="submit" name="educationadd" >ذخیره</button>
                                    </form>
                                </div>
                            </div>

                            <div id="abc2">
                                <div id="popupContact">
                                    <form action="#" id="form2" method="post" class="form1">
                                        {% csrf_token %}
                                        <img id="close" src="{% static 'images/close1.png'%}" onclick ="div_hide2()">
                                        {{aducationformSetinstance.management_form}}
                                            {% for forms in aducationformSetinstance %}
                                                <div class="bird-form formsetborder">
                                                    <label class="formsetlable">{{forms.degree_level.label}}:</label>
                                                    {{forms.degree_level}}
                                                    <label class="formsetlable">{{forms.major.label}}:</label>
                                                    {{forms.major}}

                                                    <label class="formsetlable">{{forms.university.label}}:</label>
                                                    {{forms.university}}
                                                    
                                                    <label class="formsetlable">{{forms.gpa.label}}:</label>
                                                    {{forms.gpa}}

                                                    <label class="formsetlable">{{forms.from_year.label}}:</label>
                                                    {{forms.from_year}}

                                                    <label class="formsetlable">{{forms.to_year.label}}:</label>
                                                    {{forms.to_year}}
                                                    
                                                    {{forms.id}}
                                                    {{forms.aducations}}
                                                </div>
                                                
                                            {% endfor %}
                                            
                                            <button class="profilebtncenter" type="submit" name="aducationedit" >ذخیره</button>
                                    </form>
                                </div>
                            </div>
                            {% for aducation in aducationprofile %}
                                <p class="subtitle1"> {{aducation.get_degree_level_display|default:"" }}-{{ aducation.major|default:"" }}</p>
                                <p class="subtitle2">{{ aducation.university|default:"" }}
                                <br>{{ aducation.from_year|default:""|date:'Y' }}-{{ aducation.to_year |default:""|date:'Y'}}
                                <br>{{ aducation.gpa|default:"" }}</p>                            
                            {% endfor %} 
                            
                            <button type="button" style="display: inline;font-size: 25px;color: rgb(159, 161, 161);margin: 10px 335px 0px 0px;" class='fa fa-edit '  onclick="div_show2()"></button>
                            <button type="button" class="fa fa-plus" style="font-size: 25px;color: rgb(159, 161, 161);margin: 10px 15px 0px 0px;" aria-hidden="true" onclick="div_show1()"></button>
                
                        
                        </div>
                        <p class="resumesectiontitle">سوابق شغلی</p> 
                        <div class="formresume">
                            <p class="profil">عنوان شغل:</span> {{ resumeeditform.job_title |add_class:"formedit"}}</p>
                            <p class="profil">نام شرکت:{{ resumeeditform.company_name |add_class:"formedit"}}</p>
                            <p class="profil">تاریخ شروع:{{ resumeeditform.start_time|add_class:"formedit" }}</p>
                            <p class="profil">تاریخ پایان:{{ resumeeditform.end_time |add_class:"formedit"}}</p>
                        </div>
                    </div>
                    <div style="width: 40%; float: right;height: 420px ; margin-left: 5%; margin-right: 5%; padding-top: 3.5%;" >
                        <p class="resumesectiontitle">مهارت ها</p>
                        
                        <div class="formresume" > 
                            <div id="abc5">
                                <div id="popupContact">
                                    <form action="#" id="form5" method="post" class="form1">
                                        {% csrf_token %}
                                        <img id="close" src="{% static 'images/close1.png'%}" onclick ="div_hide5()">
                                        {{skillformset.management_form}}
                        
                                            {% for form in skillformset %}
                                            
                                                <div class="bird-form5 formsetborder">
                                                    <!-- <label style="display: block;" class="formsetlable">افزودن مهارت</label><br> -->
                                                    <label class="formsetlable">{{form.skillname.label}}:</label>
                                                    {{form.skillname}}
                                                    <label class="formsetlable">{{form.levelofskill.label}}:</label>
                                                    {{form.levelofskill}}
                                                    <!-- {{form.DELETE}} -->
                                                    {{form.id}}
                                                    {{form.skills}}
                                                </div>
                                                
                                            {% endfor %}
                                            
                                            <button class="popupbtnright" id="add-form5" type="button" >افزودن مهارت</button>
                                            <button class="popupbtnleft" type="submit" name="skilladd" >ذخیره</button>
                                    </form>
                                </div>
                            </div>

                            <div id="abc6">
                                <div id="popupContact">
                                    <form action="#" id="form6" method="post" class="form1">
                                        {% csrf_token %}
                                        <img id="close" src="{% static 'images/close1.png'%}" onclick ="div_hide6()">
                                        {{skillformsetinstance.management_form}}
                                            {% for forms in skillformsetinstance %}
                                                <div class="bird-form formsetborder">
                                                    <label class="formsetlable">{{forms.skillname.label}}:</label>
                                                    {{forms.skillname}}
                                                    <label class="formsetlable">{{forms.levelofskill.label}}:</label>
                                                    {{forms.levelofskill}}
                                                    <p class="formsetlable">حذف :</p> {{forms.DELETE}}
                                                    {{forms.id}}
                                                    {{forms.skills}}
                                                </div>
                                                
                                            {% endfor %}
                                            
                                            <button class="profilebtncenter" type="submit" name="skilledit" >ذخیره</button>
                                    </form>
                                </div>
                            </div>
                            {% for skills in skill %}
                                <p class="skillprofil">{{ skills.skillname|default:""  }}|{{ skills.get_levelofskill_display|default:""  }}</p>
                            {% endfor %}
                            <button type="button" style="display: inline;font-size: 25px;color: rgb(159, 161, 161);margin: 10px 335px 0px 0px;" class='fa fa-edit '  onclick="div_show6()"></button>
                            <button type="button" class="fa fa-plus" style="font-size: 25px;color: rgb(159, 161, 161);margin: 10px 15px 0px 0px;" aria-hidden="true" onclick="div_show5()"></button>
                
                        </div>

                        <p class="resumesectiontitle">دوره های آموزشی</p>
                        <div class="formresume">
                            <p class="profil">نام دوره آموزشی:{{ resumeeditform.coursesname |add_class:"formedit"}}</p>
                            <p class="profil">نام آموزشگاه:</span> {{ resumeeditform.institute |add_class:"formedit"}}</p>
                        </div>
                        
                        <p class="resumesectiontitle">جوایز و افتخارات</p>
                        <div class="formresume"> 
                        <p class="profil">عنوان:{{ resumeeditform.award_title |add_class:"formedit"}}</p>
                        <p class="profil">سال:</span> {{ resumeeditform.dateofaward |add_class:"formedit"}}</p>
                        </div>

                        <p class="resumesectiontitle">پروژه ها و تجربیات آکادمیک</p> 
                        <div class="formresume">
                            <p class="profil">عنوان:{{ resumeeditform.project_title |add_class:"formedit"}}</p>
                            <p class="profil">سال:</span> {{ resumeeditform.dateofproject |add_class:"formedit"}}</p>
                        </div>

                        <p class="resumesectiontitle">کتاب ها و مقالات</p> 
                        <div class="formresume">
                            <p class="profil">عنوان:{{ resumeeditform.article_title |add_class:"formedit"}}</p>
                            <p class="profil">سال:</span> {{ resumeeditform.dateofarticle |add_class:"formedit"}}</p>
                        </div>

                        <p class="resumesectiontitle">زبان ها</p> 
                        <div class="formresume"> 
                            <p class="profil">زبان:{{ resumeeditform.language |add_class:"formedit"}}</p>
                            <p class="profil">سطح:</span> {{ resumeeditform.leveloflanguage |add_class:"formedit"}}</p>
                        </div>

                        <div class="clearfix">
                        </div>

                        <div style=" display:block; align-content: center;">
                            <button type="submit" class="btn editsubmit">ذخیره</button>
                        </div>

                    </div>
                    
                    
                <!-- </form> -->
                        
    
            </div>
            
            
               
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <!-- <script>
            let birdForm = document.querySelectorAll(".bird-form")
            let container = document.querySelector("#form1")
            let addButton = document.querySelector("#add-form")
            let totalForms = document.querySelector("#id_form-TOTAL_FORMS")
        
            let formNum = birdForm.length-1
            addButton.addEventListener('click', addForm)
        
            function addForm(e){
                e.preventDefault()
        
                let newForm = birdForm[0].cloneNode(true)
                let formRegex = RegExp(`form-(\\d){1}-`,'g')
        
                formNum++
                newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
                container.insertBefore(newForm, addButton)
                
                totalForms.setAttribute('value', `${formNum+1}`)
            }
            
        </script> -->
        
        
        <script type="text/javascript" src="{% static 'js/addmore.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/addmorebtn.js'%}"></script>
        <!-- <script type="text/javascript" src="{% static 'js/addmoreaducation.js'%}"></script> -->
        
        
        
</body>

    <!-- <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
    <script src="{% static 'admin/js/django_jalali.min.js' %}"></script> -->
</html>
    
