{%load static%}
{% load widget_tweaks %}
{% load jalali_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/styless.css'%}">
    <link rel="stylesheet" href="{%static 'css/elements.css'%}">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>            
    
    <title>Document</title>
</head>
<body>
    <style>
        .ing-form{
            border: 1px solid;
        }
        .hidden{
            display: none;
        }
    </style>
    
    <body dir="rtl">
        <div class="container bodyy">
            <div class="main_container">
                <div class="nav-md">
                    <div class="shadoww">
                        <div class="navbar nav_title">
                            <div class="navbar circular--portrait" >
                                <img src="{{ ProfileImage.url  }}" alt="...">
                            </div>
                        </div>
                        
                        <div class="clearfix">
                        </div>
                        <div class="sidebarmenu">
                            <div >
                               <div class="side-menu sidbarmenu-contain"><a href="/accounts/profile"  style="text-decoration: none;color:white;">پروفایل</a></div>
                               <div class="side-menu sidbarmenu-contain"><a href="/accounts/resumeprofile" style="text-decoration: none;color:white;">ساخت رزومه</a></div>
                               <div class="side-menu sidbarmenu-contain"><a href="/accounts/password" style="text-decoration: none;color:white;">تغییر رمز</a></div>
                               <div class="side-menu sidbarmenu-contain sidebar-bottom"><a href="/accounts/logout" style="text-decoration: none;color:white;">خروج</a></div>
                            </div>
                            
    
                        </div>                 
                    </div>
            </div>
            <div class="boxxrtl"  style="min-height: 607px;">
                
                    <div class="imgbox">
                        <img src="{{ ProfileImage.url  }}" style="width: 100%;align-items: right;">
                        
                    </div>
                    <div style="width: 40%;float: right;height: 420px ; margin-left: 5%; margin-right: 5%;" >
                    
                        
                        <p class="resumesectiontitle">اطلاعات شخصی</p> 
                        <div class="formresume">
                            <div id="abc">
                                <div id="popupContact">
                                    <form action="#" id="form" method="post" class="form1" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <img id="close" src="{% static 'images/close1.png'%}" onclick ="div_hide()">
                                            <div class="imgbox">
                                                <img src="{{ ProfileImage.url  }}" style="align-items: center;">
                                                
                                            </div>
                                                {{ resumeeditform.ProfileImage|add_class:"profilchoose" }}
                                                <div class="bird-form formsetborder">
                                                    <label class="formsetlable">نام :</label>
                                                    {{usereditform.first_name|add_class:"formedit"}} 
                                                    <label class="formsetlable"> نام خانوادگی :</label>
                                                    {{usereditform.last_name|add_class:"formedit"}}
                                                    <label class="formsetlable">جنسیت:</label>
                                                    {{ resumeeditform.gender |add_class:"formedit"}}

                                                    <label class="formsetlable">وضعیت تاهل:</label>
                                                    {{ resumeeditform.marital_status|add_class:"formedit" }}

                                                    <label class="formsetlable">تاریخ تولد:</label>
                                                    {{ resumeeditform.birthday|add_class:"formedit" }}

                                                    <label class="formsetlable">شهر:</label>
                                                    {{ resumeeditform.city |add_class:"formedit"}}

                                                    <label class="formsetlable">آدرس:</label>
                                                    {{ resumeeditform.address |add_class:"formedit"}}

                                                    <label class="formsetlable">شغل مورد علاقه:</label>
                                                    {{ resumeeditform.intrested_job |add_class:"formedit"}}
            
                                                   
                                                </div>
                                                
                                            
                                            <button class="profilebtncenter" type="submit" name="profileedit" >ذخیره</button>
                                    </form>
                                </div>
                            </div>
                            <p class="profil">نام و نام خانوادگی:&nbsp;{{ resumeprofile.user.get_full_name |default:""}}</p>
                            <p class="profil">تاریخ تولد:&nbsp;{{ resumeprofile.birthday|date:'Y/m/d' }}</p>
                            <p class="profil">جنسیت:&nbsp;{{ resumeprofile.get_gender_display |default:""}}</p>
                            <p class="profil">وضعیت تاهل:&nbsp;{{ resumeprofile.get_marital_status_display|default:"" }}</p>
                            <p class="profil"> شهر:&nbsp;{{ resumeprofile.city |default:""}}</p>
                            <p class="profil">آدرس:&nbsp;{{ resumeprofile.address|default:"" }}</p>
                            <p class="profil">شغل مورد علاقه:&nbsp;{{ resumeprofile.intrested_job |default:""}}</p>
                            
                            <button type="button" style="display: inline;font-size: 25px;color: rgb(159, 161, 161);margin: 10px 370px 0px 0px;" class='fa fa-edit '  onclick="div_show()"></button>
                
                        </div>
                     

                        <p class="resumesectiontitle">سوابق تحصیلی</p> 
                        <div class="formresume">
                            <div id="abc1">
                                <div id="popupContact">
                                    <form action="#" id="form1" method="post" class="form1">
                                        {% csrf_token %}
                                        <img id="close" src="{% static 'images/close1.png'%}" onclick ="div_hide1()">
                                        {{ aducationformSet.management_form }}
                        
                                            {% for form in aducationformSet %}
                                            
                                                <div class="bird-form1 formsetborder">
                                                    <label class="formsetlable">{{form.degree_level.label}}:</label>
                                                    {{form.degree_level}}
                                                    <label class="formsetlable">{{form.major.label}}:</label>
                                                    {{form.major}}

                                                    <label class="formsetlable">{{form.university.label}}:</label>
                                                    {{form.university}}
                                                    
                                                    <label class="formsetlable">{{form.gpa.label}}:</label>
                                                    {{form.gpa}}

                                                    <label class="formsetlable">{{form.from_year.label}}:</label>
                                                    {{form.from_year}}

                                                    <label class="formsetlable">{{form.to_year.label}}:</label>
                                                    {{form.to_year}}
                                                    

                                                    {{form.id}}
                                                    {{form.aducations}}
                                                </div>
                                                
                                            {% endfor %}
                                            
                                            <button class="popupbtnright" id="add-form1" type="button" >افزودن</button>
                                            <button class="popupbtnleft" type="submit" name="educationadd" >ذخیره</button>
                                    </form>
                                </div>
                            </div>

                            <div id="abc2">
                                <div id="popupContact">
                                    <form action="#" id="form2" method="post" class="form1">
                                        {% csrf_token %}
                                        <img id="close" src="{% static 'images/close1.png'%}" onclick ="div_hide2()">
                                        {{aducationformSetinstance.management_form}}
                                            {% for forms in aducationformSetinstance %}
                                                <div class="bird-form formsetborder">
                                                    <label class="formsetlable">{{forms.degree_level.label}}:</label>
                                                    {{forms.degree_level}}
                                                    <label class="formsetlable">{{forms.major.label}}:</label>
                                                    {{forms.major}}

                                                    <label class="formsetlable">{{forms.university.label}}:</label>
                                                    {{forms.university}}
                                                    
                                                    <label class="formsetlable">{{forms.gpa.label}}:</label>
                                                    {{forms.gpa}}

                                                    <label class="formsetlable">{{forms.from_year.label}}:</label>
                                                    {{forms.from_year}}

                                                    <label class="formsetlable">{{forms.to_year.label}}:</label>
                                                    {{forms.to_year}}
                                                    
                                                    {{forms.id}}
                                                    {{forms.aducations}}
                                                </div>
                                                
                                            {% endfor %}
                                            
                                            <button class="profilebtncenter" type="submit" name="aducationedit" >ذخیره</button>
                                    </form>
                                </div>
                            </div>
                            {% for aducation in aducationprofile %}
                                <p class="subtitle1"> {{aducation.get_degree_level_display|default:"" }}-{{ aducation.major|default:"" }}</p>
                                <p class="subtitle2">{{ aducation.university|default:"" }}
                                <br>{{ aducation.from_year|default:""|date:'Y' }}-{{ aducation.to_year |default:""|date:'Y'}}
                                <br>{{ aducation.gpa|default:"" }}</p>                            
                            {% endfor %} 
                            
                            <button type="button" style="display: inline;font-size: 25px;color: rgb(159, 161, 161);margin: 10px 335px 0px 0px;" class='fa fa-edit '  onclick="div_show2()"></button>
                            <button type="button" class="fa fa-plus" style="font-size: 25px;color: rgb(159, 161, 161);margin: 10px 15px 0px 0px;" aria-hidden="true" onclick="div_show1()"></button>
                
                        
                        </div>
                        <p class="resumesectiontitle">سوابق شغلی</p> 
                        <div class="formresume">
                            <div id="abc3">
                                <div id="popupContact">
                                    <form action="#" id="form3" method="post" class="form1">
                                        {% csrf_token %}
                                        <img id="close" src="{% static 'images/close1.png'%}" onclick ="div_hide3()">
                                        {{workexperienceformSet.management_form}}
                        
                                            {% for form in workexperienceformSet %}
                                            
                                                <div class="bird-form2 formsetborder">
                                                    <!-- <label style="display: block;" class="formsetlable">افزودن مهارت</label><br> -->
                                                    <label class="formsetlable">{{form.job_title.label}}:</label>
                                                    {{form.job_title}}
                                                    <label class="formsetlable">{{form.company_name.label}}:</label>
                                                    {{form.company_name}}
                                                    <label class="formsetlable">{{form.start_time.label}}:</label>
                                                    {{form.start_time}}
                                                    <label class="formsetlable">{{form.end_time.label}}:</label>
                                                    {{form.end_time}}
                                                    <!-- {{form.DELETE}} -->
                                                    {{form.id}}
                                                    {{form.jobs}}
                                                </div>
                                                
                                            {% endfor %}
                                            
                                            <button class="popupbtnright" id="add-form2" type="button" >افزودن</button>
                                            <button class="popupbtnleft" type="submit" name="workexperienceadd" >ذخیره</button>
                                    </form>
                                </div>
                            </div>

                            <div id="abc4">
                                <div id="popupContact">
                                    <form action="#" id="form4" method="post" class="form1">
                                        {% csrf_token %}
                                        <img id="close" src="{% static 'images/close1.png'%}" onclick ="div_hide4()">
                                        {{workexperienceformSetinstance.management_form}}
                                            {% for forms in workexperienceformSetinstance %}
                                                <div class="bird-form formsetborder">
                                                    <label class="formsetlable">{{forms.job_title.label}}:</label>
                                                    {{forms.job_title}}
                                                    <label class="formsetlable">{{forms.company_name.label}}:</label>
                                                    {{forms.company_name}}
                                                    <label class="formsetlable">{{forms.start_time.label}}:</label>
                                                    {{forms.start_time}}
                                                    <label class="formsetlable">{{forms.end_time.label}}:</label>
                                                    {{forms.end_time}}
                                                    <p class="formsetlable">حذف :</p> {{forms.DELETE}}
                                                    {{forms.id}}
                                                    {{forms.jobs}}
                                                </div>
                                                
                                            {% endfor %}
                                            
                                            <button class="profilebtncenter" type="submit" name="workexperienceedit" >ذخیره</button>
                                    </form>
                                </div>
                            </div>
                            {% for workexperiences in workexperience %}
                            <div class="profil">
                                <p class="subtitle1">{{ workexperiences.job_title |default:""}}</p>
                                    <p class="subtitle2">{{ workexperiences.company_name |default:""}}
                                    <br>{{ workexperiences.start_time |default:""|date:'Y'}}-{{ workexperiences.end_time|default:""|date:'Y' }}
                                    </p>
                            </div>
                            {% endfor %}
                            <button type="button" style="display: inline;font-size: 25px;color: rgb(159, 161, 161);margin: 10px 335px 0px 0px;" class='fa fa-edit '  onclick="div_show4()"></button>
                            <button type="button" class="fa fa-plus" style="font-size: 25px;color: rgb(159, 161, 161);margin: 10px 15px 0px 0px;" aria-hidden="true" onclick="div_show3()"></button>
            
                        </div>
                    </div>
                    <div style="width: 40%; float: right;height: 420px ; margin-left: 5%; margin-right: 5%; padding-top: 3.5%;" >
                        <p class="resumesectiontitle">مهارت ها</p>
                        
                        <div class="formresume" > 
                            <div id="abc5">
                                <div id="popupContact">
                                    <form action="#" id="form5" method="post" class="form1">
                                        {% csrf_token %}
                                        <img id="close" src="{% static 'images/close1.png'%}" onclick ="div_hide5()">
                                        {{skillformset.management_form}}
                        
                                            {% for form in skillformset %}
                                            
                                                <div class="bird-form3 formsetborder">
                                                    <!-- <label style="display: block;" class="formsetlable">افزودن مهارت</label><br> -->
                                                    <label class="formsetlable">{{form.skillname.label}}:</label>
                                                    {{form.skillname}}
                                                    <label class="formsetlable">{{form.levelofskill.label}}:</label>
                                                    {{form.levelofskill}}
                                                    <!-- {{form.DELETE}} -->
                                                    {{form.id}}
                                                    {{form.skills}}
                                                </div>
                                                
                                            {% endfor %}
                                            
                                            <button class="popupbtnright" id="add-form3" type="button" >افزودن</button>
                                            <button class="popupbtnleft" type="submit" name="skilladd" >ذخیره</button>
                                    </form>
                                </div>
                            </div>

                            <div id="abc6">
                                <div id="popupContact">
                                    <form action="#" id="form6" method="post" class="form1">
                                        {% csrf_token %}
                                        <img id="close" src="{% static 'images/close1.png'%}" onclick ="div_hide6()">
                                        {{skillformsetinstance.management_form}}
                                            {% for forms in skillformsetinstance %}
                                                <div class="bird-form formsetborder">
                                                    <label class="formsetlable">{{forms.skillname.label}}:</label>
                                                    {{forms.skillname}}
                                                    <label class="formsetlable">{{forms.levelofskill.label}}:</label>
                                                    {{forms.levelofskill}}
                                                    <p class="formsetlable">حذف :</p> {{forms.DELETE}}
                                                    {{forms.id}}
                                                    {{forms.skills}}
                                                </div>
                                                
                                            {% endfor %}
                                            
                                            <button class="profilebtncenter" type="submit" name="skilledit" >ذخیره</button>
                                    </form>
                                </div>
                            </div>
                            {% for skills in skill %}
                                <p class="skillprofil">{{ skills.skillname|default:""  }}|{{ skills.get_levelofskill_display|default:""  }}</p>
                            {% endfor %}
                            <button type="button" style="display: inline;font-size: 25px;color: rgb(159, 161, 161);margin: 10px 335px 0px 0px;" class='fa fa-edit '  onclick="div_show6()"></button>
                            <button type="button" class="fa fa-plus" style="font-size: 25px;color: rgb(159, 161, 161);margin: 10px 15px 0px 0px;" aria-hidden="true" onclick="div_show5()"></button>
                
                        </div>

                        <p class="resumesectiontitle">دوره های آموزشی</p>
                        <div class="formresume">
                            <div id="abc7">
                                <div id="popupContact">
                                    <form action="#" id="form7" method="post" class="form1">
                                        {% csrf_token %}
                                        <img id="close" src="{% static 'images/close1.png'%}" onclick ="div_hide7()">
                                        {{coursesformSet.management_form}}
                        
                                            {% for form in coursesformSet %}
                                            
                                                <div class="bird-form4 formsetborder">
                                                    <!-- <label style="display: block;" class="formsetlable">افزودن مهارت</label><br> -->
                                                    <label class="formsetlable">{{form.coursesname.label}}:</label>
                                                    {{form.coursesname}}
                                                    <label class="formsetlable">{{form.institute.label}}:</label>
                                                    {{form.institute}}
                                                    <!-- {{form.DELETE}} -->
                                                    {{form.id}}
                                                    {{form.courses}}
                                                </div>
                                                
                                            {% endfor %}
                                            
                                            <button class="popupbtnright" id="add-form4" type="button" >افزودن</button>
                                            <button class="popupbtnleft" type="submit" name="courcesadd" >ذخیره</button>
                                    </form>
                                </div>
                            </div>

                            <div id="abc8">
                                <div id="popupContact">
                                    <form action="#" id="form8" method="post" class="form1">
                                        {% csrf_token %}
                                        <img id="close" src="{% static 'images/close1.png'%}" onclick ="div_hide8()">
                                        {{coursesformSetinstance.management_form}}
                                            {% for forms in coursesformSetinstance %}
                                                <div class="bird-form formsetborder">
                                                    <label class="formsetlable">{{forms.coursesname.label}}:</label>
                                                    {{forms.coursesname}}
                                                    <label class="formsetlable">{{forms.institute.label}}:</label>
                                                    {{forms.institute}}
                                                    <p class="formsetlable">حذف :</p> {{forms.DELETE}}
                                                    {{forms.id}}
                                                    {{forms.courses}}
                                                </div>
                                                
                                            {% endfor %}
                                            
                                            <button class="profilebtncenter" type="submit" name="courcessedit" >ذخیره</button>
                                    </form>
                                </div>
                            </div>
                            {% for courses in course %}
                                <div class="profil">
                                    <p class="subtitle1">{{ courses.coursesname|default:"" }}</p>
                                    <p class="subtitle2">{{ courses.institute|default:"" }}
                                    </p>
                                </div>
                            {% endfor %}

                            <button type="button" style="display: inline;font-size: 25px;color: rgb(159, 161, 161);margin: 10px 335px 0px 0px;" class='fa fa-edit '  onclick="div_show8()"></button>
                            <button type="button" class="fa fa-plus" style="font-size: 25px;color: rgb(159, 161, 161);margin: 10px 15px 0px 0px;" aria-hidden="true" onclick="div_show7()"></button>
                
                        </div>
                        
                        <p class="resumesectiontitle">جوایز و افتخارات</p>
                        <div class="formresume"> 
                            <div id="abc9">
                                <div id="popupContact">
                                    <form action="#" id="form9" method="post" class="form1">
                                        {% csrf_token %}
                                        <img id="close" src="{% static 'images/close1.png'%}" onclick ="div_hide9()">
                                        {{awardformSet.management_form}}
                        
                                            {% for form in awardformSet %}
                                            
                                                <div class="bird-form5 formsetborder">
                                                    <!-- <label style="display: block;" class="formsetlable">افزودن مهارت</label><br> -->
                                                    <label class="formsetlable">{{form.award_title.label}}:</label>
                                                    {{form.award_title}}
                                                    <label class="formsetlable">{{form.dateofaward.label}}:</label>
                                                    {{form.dateofaward}}
                                                    <!-- {{form.DELETE}} -->
                                                    {{form.id}}
                                                    {{form.awards}}
                                                </div>
                                                
                                            {% endfor %}
                                            
                                            <button class="popupbtnright" id="add-form5" type="button" >افزودن</button>
                                            <button class="popupbtnleft" type="submit" name="awardsadd" >ذخیره</button>
                                    </form>
                                </div>
                            </div>

                            <div id="abc10">
                                <div id="popupContact">
                                    <form action="#" id="form10" method="post" class="form1">
                                        {% csrf_token %}
                                        <img id="close" src="{% static 'images/close1.png'%}" onclick ="div_hide10()">
                                        {{awardformSetinstance.management_form}}
                                            {% for forms in awardformSetinstance %}
                                                <div class="bird-form formsetborder">
                                                    <label class="formsetlable">{{forms.award_title.label}}:</label>
                                                    {{forms.award_title}}
                                                    <label class="formsetlable">{{forms.dateofaward.label}}:</label>
                                                    {{forms.dateofaward}}
                                                    <p class="formsetlable">حذف :</p> {{forms.DELETE}}
                                                    {{forms.id}}
                                                    {{forms.awards}}
                                                </div>
                                                
                                            {% endfor %}
                                            
                                            <button class="profilebtncenter" type="submit" name="awardsedit" >ذخیره</button>
                                    </form>
                                </div>
                            </div>
                            {% for awards in award %}
                                <div class="profil">
                                    <p class="subtitle1">{{ awards.award_title |default:""}}</p>
                                    <p class="subtitle2">{{ awards.dateofaward|default:""|date:'Y' }}</p>
                                </div>
                            {% endfor %}

                            <button type="button" style="display: inline;font-size: 25px;color: rgb(159, 161, 161);margin: 10px 335px 0px 0px;" class='fa fa-edit '  onclick="div_show10()"></button>
                            <button type="button" class="fa fa-plus" style="font-size: 25px;color: rgb(159, 161, 161);margin: 10px 15px 0px 0px;" aria-hidden="true" onclick="div_show9()"></button>
                
                      
                        </div>

                        <p class="resumesectiontitle">پروژه ها و تجربیات آکادمیک</p> 
                        <div class="formresume">
                            <div id="abc11">
                                <div id="popupContact">
                                    <form action="#" id="form11" method="post" class="form1">
                                        {% csrf_token %}
                                        <img id="close" src="{% static 'images/close1.png'%}" onclick ="div_hide11()">
                                        {{projectsformSet.management_form}}
                        
                                            {% for form in projectsformSet %}
                                            
                                                <div class="bird-form6 formsetborder">
                                                    <!-- <label style="display: block;" class="formsetlable">افزودن مهارت</label><br> -->
                                                    <label class="formsetlable">{{form.project_title.label}}:</label>
                                                    {{form.project_title}}
                                                    <label class="formsetlable">{{form.dateofproject.label}}:</label>
                                                    {{form.dateofproject}}
                                                    <!-- {{form.DELETE}} -->
                                                    {{form.id}}
                                                    {{form.projects}}
                                                </div>
                                                
                                            {% endfor %}
                                            
                                            <button class="popupbtnright" id="add-form6" type="button" >افزودن</button>
                                            <button class="popupbtnleft" type="submit" name="projectsadd" >ذخیره</button>
                                    </form>
                                </div>
                            </div>

                            <div id="abc12">
                                <div id="popupContact">
                                    <form action="#" id="form12" method="post" class="form1">
                                        {% csrf_token %}
                                        <img id="close" src="{% static 'images/close1.png'%}" onclick ="div_hide12()">
                                        {{projectsformSetinstance.management_form}}
                                            {% for forms in projectsformSetinstance %}
                                                <div class="bird-form formsetborder">
                                                    <label class="formsetlable">{{forms.project_title.label}}:</label>
                                                    {{forms.project_title}}
                                                    <label class="formsetlable">{{forms.dateofproject.label}}:</label>
                                                    {{forms.dateofproject}}
                                                    <p class="formsetlable">حذف :</p> {{forms.DELETE}}
                                                    {{forms.id}}
                                                    {{forms.projects}}
                                                </div>
                                                
                                            {% endfor %}
                                            
                                            <button class="profilebtncenter" type="submit" name="projectsedit" >ذخیره</button>
                                    </form>
                                </div>
                            </div>
                            {% for projects in project %}
                                <div class="profil">
                                    <p class="subtitle1">{{ projects.project_title |default:""}}</p>
                                    <p class="subtitle2">{{ projects.dateofproject|default:"" |date:'Y'}}
                                    </p>
                                </div>
                            {% endfor %}

                            <button type="button" style="display: inline;font-size: 25px;color: rgb(159, 161, 161);margin: 10px 335px 0px 0px;" class='fa fa-edit '  onclick="div_show12()"></button>
                            <button type="button" class="fa fa-plus" style="font-size: 25px;color: rgb(159, 161, 161);margin: 10px 15px 0px 0px;" aria-hidden="true" onclick="div_show11()"></button>
                
                           
                        </div>

                        <p class="resumesectiontitle">کتاب ها و مقالات</p> 
                        <div class="formresume">
                            <div id="abc13">
                                <div id="popupContact">
                                    <form action="#" id="form13" method="post" class="form1">
                                        {% csrf_token %}
                                        <img id="close" src="{% static 'images/close1.png'%}" onclick ="div_hide13()">
                                        {{articleformSet.management_form}}
                        
                                            {% for form in articleformSet %}
                                            
                                                <div class="bird-form7 formsetborder">
                                                    <!-- <label style="display: block;" class="formsetlable">افزودن مهارت</label><br> -->
                                                    <label class="formsetlable">{{form.article_title.label}}:</label>
                                                    {{form.article_title}}
                                                    <label class="formsetlable">{{form.dateofarticle.label}}:</label>
                                                    {{form.dateofarticle}}
                                                    <!-- {{form.DELETE}} -->
                                                    {{form.id}}
                                                    {{form.articles}}
                                                </div>
                                                
                                            {% endfor %}
                                            
                                            <button class="popupbtnright" id="add-form7" type="button" >افزودن</button>
                                            <button class="popupbtnleft" type="submit" name="articleadd" >ذخیره</button>
                                    </form>
                                </div>
                            </div>

                            <div id="abc14">
                                <div id="popupContact">
                                    <form action="#" id="form14" method="post" class="form1">
                                        {% csrf_token %}
                                        <img id="close" src="{% static 'images/close1.png'%}" onclick ="div_hide14()">
                                        {{articleformSetinstance.management_form}}
                                            {% for forms in articleformSetinstance %}
                                                <div class="bird-form formsetborder">
                                                    <label class="formsetlable">{{forms.article_title.label}}:</label>
                                                    {{forms.article_title}}
                                                    <label class="formsetlable">{{forms.dateofarticle.label}}:</label>
                                                    {{forms.dateofarticle}}
                                                    <p class="formsetlable">حذف :</p> {{forms.DELETE}}
                                                    {{forms.id}}
                                                    {{forms.articles}}
                                                </div>
                                                
                                            {% endfor %}
                                            
                                            <button class="profilebtncenter" type="submit" name="articleedit" >ذخیره</button>
                                    </form>
                                </div>
                            </div>
                            {% for articles in article %}
                                <div class="profil">
                                    <p class="subtitle1">{{ articles.article_title |default:""}}</p>
                                    <p class="subtitle2">{{ articles.dateofarticle|default:"" |date:'Y'}}</p>
                                </div>
                            {% endfor %}

                            <button type="button" style="display: inline;font-size: 25px;color: rgb(159, 161, 161);margin: 10px 335px 0px 0px;" class='fa fa-edit '  onclick="div_show14()"></button>
                            <button type="button" class="fa fa-plus" style="font-size: 25px;color: rgb(159, 161, 161);margin: 10px 15px 0px 0px;" aria-hidden="true" onclick="div_show13()"></button>
                
                        </div>

                        <p class="resumesectiontitle">زبان ها</p> 
                        <div class="formresume"> 
                            <div id="abc15">
                                <div id="popupContact">
                                    <form action="#" id="form15" method="post" class="form1">
                                        {% csrf_token %}
                                        <img id="close" src="{% static 'images/close1.png'%}" onclick ="div_hide15()">
                                        {{languagesformSet.management_form}}
                        
                                            {% for form in languagesformSet %}
                                            
                                                <div class="bird-form8 formsetborder">
                                                    <!-- <label style="display: block;" class="formsetlable">افزودن مهارت</label><br> -->
                                                    <label class="formsetlable">{{form.language.label}}:</label>
                                                    {{form.language}}
                                                    <label class="formsetlable">{{form.leveloflanguage.label}}:</label>
                                                    {{form.leveloflanguage}}
                                                    <!-- {{form.DELETE}} -->
                                                    {{form.id}}
                                                    {{form.languages}}
                                                </div>
                                                
                                            {% endfor %}
                                            
                                            <button class="popupbtnright" id="add-form8" type="button" >افزودن</button>
                                            <button class="popupbtnleft" type="submit" name="languagesadd" >ذخیره</button>
                                    </form>
                                </div>
                            </div>

                            <div id="abc16">
                                <div id="popupContact">
                                    <form action="#" id="form16" method="post" class="form1">
                                        {% csrf_token %}
                                        <img id="close" src="{% static 'images/close1.png'%}" onclick ="div_hide16()">
                                        {{languagesformSetinstance.management_form}}
                                            {% for forms in languagesformSetinstance %}
                                                <div class="bird-form formsetborder">
                                                    <label class="formsetlable">{{forms.language.label}}:</label>
                                                    {{forms.language}}
                                                    <label class="formsetlable">{{forms.leveloflanguage.label}}:</label>
                                                    {{forms.leveloflanguage}}
                                                    <p class="formsetlable">حذف :</p> {{forms.DELETE}}
                                                    {{forms.id}}
                                                    {{forms.languages}}
                                                </div>
                                                
                                            {% endfor %}
                                            
                                            <button class="profilebtncenter" type="submit" name="languagesedit" >ذخیره</button>
                                    </form>
                                </div>
                            </div>
                            {% for languages in language %}
                                <div class="profil">
                                    <p class="subtitle1">{{ languages.language|default:"" }}</p>
                                    <p class="subtitle2">{{ languages.get_leveloflanguage_display|default:"" }}</p>
                                </div>
                            {% endfor %}

                            <button type="button" style="display: inline;font-size: 25px;color: rgb(159, 161, 161);margin: 10px 335px 0px 0px;" class='fa fa-edit '  onclick="div_show16()"></button>
                            <button type="button" class="fa fa-plus" style="font-size: 25px;color: rgb(159, 161, 161);margin: 10px 15px 0px 0px;" aria-hidden="true" onclick="div_show15()"></button>
                
                            <p class="profil">زبان:{{ resumeeditform.language |add_class:"formedit"}}</p>
                            <p class="profil">سطح:</span> {{ resumeeditform.leveloflanguage |add_class:"formedit"}}</p>
                        </div>

                        <div class="clearfix">
                        </div>

                        <div style=" display:block; align-content: center;">
                            <a href="/accounts/resumeprofile" >
                                <input type="button" value="ذخیره" class="btn editsubmit"   />
                             </a>
                
                        </div>


                    </div>
                    
                    
                <!-- </form> -->
                        
    
            </div>
            
            
               
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <!-- <script>
            let birdForm = document.querySelectorAll(".bird-form")
            let container = document.querySelector("#form1")
            let addButton = document.querySelector("#add-form")
            let totalForms = document.querySelector("#id_form-TOTAL_FORMS")
        
            let formNum = birdForm.length-1
            addButton.addEventListener('click', addForm)
        
            function addForm(e){
                e.preventDefault()
        
                let newForm = birdForm[0].cloneNode(true)
                let formRegex = RegExp(`form-(\\d){1}-`,'g')
        
                formNum++
                newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
                container.insertBefore(newForm, addButton)
                
                totalForms.setAttribute('value', `${formNum+1}`)
            }
            
        </script> -->
        
        
        <script type="text/javascript" src="{% static 'js/addmore.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/addmorebtn.js'%}"></script>
        <!-- <script type="text/javascript" src="{% static 'js/addmoreaducation.js'%}"></script> -->
        
        
        
</body>

    <!-- <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
    <script src="{% static 'admin/js/django_jalali.min.js' %}"></script> -->
</html>
    
