*{
  margin: 0px;
  padding: 0px;
  border: 0px;
}

@font-face {
    font-family: 'BNazanin';
    src: url('../fonts/BNazanin.eot?#') format('eot'),  /* IE6–8 */
         url('../fonts/BNazanin.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../fonts/BNazanin.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
    font-family: 'IranianSans';
    src: url('../fonts/IranianSans.eot?#') format('eot'),  /* IE6–8 */
         url('../fonts/IranianSans.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../fonts/IranianSans.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
  }

@font-face {
    font-family: 'Yekan';
    src: url('../fonts/Yekan.eot?#') format('eot'),  /* IE6–8 */
         url('../fonts/Yekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../fonts/Yekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
  }

body{
      font-family: Yekan,IranianSans,Bnazanin;
      font-size: 10px;
      /* overflow: hidden; */
      }

.container{
    width: 100%;
    margin: 0 auto;
    background:rgba(255, 255, 255);
    height: 900px;
   
}
*, :after, :before {
  box-sizing: border-box;
}
.box1{
    width:20%;
    /* margin-top: 40px; */
    margin: 30px auto;
    text-align: center; 
}


.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}
.nav-md {
  min-height: 100%;
  width: 130px;
  padding: 0px;
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}
.nav_title {
  width: 130px;
  float: left;
  background: #ffffff;
  border-radius: 0;
  height: 57px;
}

.circular--portrait { 
  position: relative; 
  width: 55px; 
  height:55px; 
  overflow: hidden; 
  border-radius: 50%;
  margin: auto;
 } 
.circular--portrait img 
{ width: 100%; /* or any custom size */
  height: auto; 
  object-fit: contain; 
  margin-top: -2px;
}

bodyy{
  background-color: rgb(4, 83, 125);
}

.sidebarmenu{
  background-color: rgb(4, 83, 125);
  padding: 0px;
  width: 130px;
  float: left;
  height: 550px;
}



.sidbarmenu-contain{
  border-bottom: 1px solid rgb(4, 78, 117);
  /* margin: 10px; */
  text-align: center;
  /* text-decoration: none; */
}

.side-menu{
  width: 130px;
  height: 30px;
  padding: 5px;
  text-align: center;
  
  /* text-decoration: none; */
}




.sidebar-bottom {
    margin-top: 460px;
    width: 130px;
    background: rgb(4, 61, 92);
    position: fixed;
    bottom: 0px;
   
}

.boxx {
  padding: 0;
  margin-left: 130px;
  padding-top: 10px;
  padding-left: 20px;
  text-align: center;
  background-color: rgb(231, 229, 229);
  position: fixed;
  bottom: 0px;
  top: 0px;
  right: 0px;
  left: 0px;

}
.boxxrtl {
  padding: 0;
  margin-right: 130px;
  padding-top: 10px;
  padding-left: 20px;
  text-align: center;
  background-color: rgb(231, 229, 229);
  overflow-y: scroll;
  /* direction: ltr; */
  position: fixed;
  bottom: 0px;
  top: 0px;
  right: 0px;
  left: 0px;

}

.shadoww{
  width: 130px;
  /* height: 550px; */
  box-shadow: 0 10px 45px 0 rgb(0 0 0 / 40%), 0 5px 15px 0 rgb(0 0 0 / 29%);
  position: fixed;
}






img {
  width: 100%; /* or any custom size */
  height: 100%; 
  object-fit: contain;
  
}
.form {
    width:30%;
    margin: 10px auto;
    background: rgba(247, 241, 241, 0.233);
    box-shadow: 0 0px 10px rgb(95 95 95 / 10%);
    padding: 20px;
    
    /* box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19); */
}

.form-control {
  display: block;
  width: 100%;
  /* float: left; */
  padding: 0.375rem 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #212529;
  background-color: transparent;
  background-clip: padding-box;
  border-bottom:1px solid rgb(191, 196, 195);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  
  
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: center;
  margin-bottom: 10px;
  /* box-shadow: 0 2px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 19%); */
  /* margin-bottom:10px ; */
    
    
  }
.formm {
    display: block;
    width: 100%;
    /* float: left; */
    padding: 0.375rem 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #212529;
    background-color: transparent;
    background-clip: padding-box;
    border-bottom:1px solid rgb(191, 196, 195);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    
    
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-align: center;
    margin-bottom: 10px;
    /* box-shadow: 0 2px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 19%); */
    /* margin-bottom:10px ; */
  }
.profilebtn{
    width: 100%;
    background-color: #2bbfcaf6 ;
    height: 30px;
    border:1px solid #ced4da;
    border-radius: 0;
    margin-top: 15px;
    padding: auto;
    text-align: center;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.btn{
    width: 100%;
    background-color: #2bbfcaf6 ;
    height: 30px;
    border:1px solid #ced4da;
    border-radius: 3.25rem;
    margin-top: 15px;
    padding: auto;
    text-align: center;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}
.btn:hover{
    background-color: cadetblue;
}
.checkboxx {
    display: block;
    position: relative;
    padding-left:24px;
    margin-left: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 20px;
    float: left;
    
  }
  
  /* Hide the browser's default checkbox */
  .checkboxx input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .checkboxx:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkboxx input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkboxx input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkboxx .checkmark:after {
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }




  .footer{
    position: absolute;
    background-color: rgb(243, 242, 235);
    top: 95%;
    bottom: 0px;
    left: 20%;
    right: 0px;
    
  }


.form__field{
  border-bottom: 2px solid gray;

}


.profil{
  font-size: 15px; 
  text-align: right; 
  padding-right: 0px;
  margin-bottom: 15px;
  color: rgb(11 72 104);
  border-bottom:1px solid rgb(223, 226, 226);
  
  
}

.subtitle1{
  font-size: 18px; 
  text-align: right; 
  padding-right: 0px;
  margin-bottom: 5px;
  color: rgb(5, 58, 87);
}
.subtitle2{
  font-size: 13px; 
  text-align: right; 
  padding-right: 0px;
  margin-bottom: 10px;
  color: rgb(84, 96, 104);
}


.skillprofil{
  
  display: initial;
  font-size: 15px; 
  text-align: right; 
  padding-right: 0px;
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
  border-radius: 00.3rem;
  background-color: rgb(11 72 104);
  padding-left: 5px;
  padding-right: 5px;
  
  /* border-bottom:1px solid rgb(223, 226, 226); */
  
  
}

.imgbox{
  width: 200px;
  height: 150px; 
  padding-right: 40px;
  margin-bottom: 20px;
  /* display: inline-block; */
  /* float: right; */
}
.editsubmit{
  width: 334px;
  background-color: rgb(40, 99, 131);
  border-radius: 0.375rem;
  text-decoration: none;
  font-size: 20px;
  color:white;
  
  
  
}
.profilchoose {
  /* font-size: 20px;  */
  /* text-align: right;  */
  padding-right: 15px;
  margin-bottom: 10px;
  display: block;
  padding-right: 7%;
  
}
.formedit {
  display: block;
  width: 100%;
  /* float: left; */
  padding: 0.375rem 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: rgb(11 72 104);
  /* color: #212529; */
  background-color: rgb(225 225 225);
  background-clip: padding-box;
  border-bottom:1px solid rgb(191, 196, 195);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.3rem;
  
  
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: center;
  margin-bottom: 10px;
  /* box-shadow: 0 2px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 19%); */
  /* margin-bottom:10px ; */
}

.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}
.alert-danger .alert-link {
  color: #6a1a21;
}
.alert-info{
  color:#055160;
  background-color:#cff4fc;
  border-color:#b6effb
}

label.required::after {
  content: ' *';
  color: red;
}

.formresume {
  /* width:30%; */
  /* margin: 10px auto; */
  background: rgba(247, 241, 241, 0.233);
  box-shadow: 0 0px 10px rgb(95 95 95 / 10%);
  padding: 20px;
  
  /* box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19); */
}


.resumesectiontitle{
  font-size: 18px; 
  text-align: right; 
  padding-right: 5px;
  margin-top: 10px;
  color: rgb(3, 39, 58);
}


.profilecontentbox{
  background: rgba(247, 241, 241, 0.233);
  box-shadow: 0 0px 10px rgb(95 95 95 / 10%);
  padding: 20px;
  height: 340px;
  margin-left: 5%; 
  margin-right: 5%; 
  
}


.formeditdate {
  display: block;
  width: 25%;
  float: left;
  padding: 0.375rem 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: rgb(11 72 104);
  background-color: rgb(225 225 225);
  background-clip: padding-box;
  border-bottom:1px solid rgb(191, 196, 195);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.3rem;
  margin-left: 5px; 
  
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: center;
  margin-bottom: 10px;
  /* box-shadow: 0 2px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 19%); */
  /* margin-bottom:10px ; */
}
